<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vanløse alle 82 | Meeting topics</title>
    <link rel="stylesheet" href="/button20.css">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/simple-table.css">

</head>
<body>
    <header>
      <div th:replace="navbar :: navbar"></div>
    </header>

    <div class="center-items">

      <table class="simple-table">
        <thead>
        <tr>
          <th>Topics of discussion</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="topic : ${topics}">
          <td th:text="${topic}"></td>
        </tr>
        </tbody>
      </table>

    </div>

</body>
</html>