
<nav th:fragment="navbar">
  <div class="Title">
    <h1>Welcome to Vanløse alle 82 <br> House rules 2023</h1>
  </div>
  <hr>
  <div class="center-items">
    <div class="grid-1" >
      <button class="button-20" onclick="window.location.href = '/'">Main-rules</button>
      <button class="button-20" onclick="window.location.href = '/cleaning-rules'">Cleaning</button>
      <button class="button-20" onclick="window.location.href = '/rooms'">Rooms</button>
      <button class="button-20" onclick="window.location.href = '/meeting-topics'">Meeting-topics</button>


    </div>
  </div>
  <div class="center-items" style="margin-top: 10px">
  </div>
  <hr>
</nav>